.center-content-vertically {
	display: flex;
	align-items: center;
}

.seperator {
	width: 100%;
	height: 1px;
	background: $navy;
	opacity: .3;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.bg-red { background-color: $red; }
.bg-navy { background-color: $navy; }