// ==========================================================
// ----------------------------------------------------------
//  GENERAL
// ----------------------------------------------------------
// ==========================================================

section {
	padding: 100px 0;
}

.section-icon {
	margin-bottom: 40px;
	height: 100px;
}

.section-img {
	height: 500px;
}


// ==========================================================
// ----------------------------------------------------------
//  HERO SECTION
// ----------------------------------------------------------
// ==========================================================

html { font-size: 16px; }

.hero {
	height: 650px;
	@extend .center-content-vertically;
	color: white;

	background-size: cover !important;
}
	
	.hero__logo {
		width: 450px;
	}

	.hero__text {
		margin-top: 50px;
		font-style: italic;
	}


// ==========================================================
// ----------------------------------------------------------
//  NAV SECTION
// ----------------------------------------------------------
// ==========================================================

.nav {
	@extend .center-content-vertically;
	height: 100px;

	ul {
		margin-top: 20px; // offsets the height difference with the logo
	}

	ul li {
		display: inline-block;
		padding-left: 75px;
	}

	ul li a {
		font-size: 1.1em;
		color: $navy;
		opacity: .66;
		font-weight: 500;
		text-transform: uppercase;
		transition: .2s opacity ease;
		line-height: 1;
		letter-spacing: 3px;
		&:hover {
			opacity: 1;
		}
	}
}

	.nav__logo {
		width: 120px;
		margin-top: 10px;
	}


// ==========================================================
// ----------------------------------------------------------
//  ABOUT SECTION
// ----------------------------------------------------------
// ==========================================================

.about  {
	color: $navy;
}


// ==========================================================
// ----------------------------------------------------------
//  FEED SECTION
// ----------------------------------------------------------
// ==========================================================

.feed {
	h2 { color: white; }
	p {	color: white; }

	.columns {
		
		@extend .center-content-vertically;
	}
}


// ==========================================================
// ----------------------------------------------------------
//  ENDORSEMENT SECTION
// ----------------------------------------------------------
// ==========================================================

.endorsement {
	h2 { color: white; }
	p {	color: white; }

	.columns {
		
	}
}


// ==========================================================
// ----------------------------------------------------------
//  SHARE SECTION
// ----------------------------------------------------------
// ==========================================================

.share {
	h2 { 
		color: white; 
		text-shadow: 0 1px 1px $navy;
	}
	p {	
		color: white; 
		text-shadow: 0 1px 1px 0 $navy;
	}

	.columns {
		
	}
}


// ==========================================================
// ----------------------------------------------------------
//  FOOTER
// ----------------------------------------------------------
// ==========================================================

.footer {
	img {
		width: 120px;
		margin-top: 10px;
	}
	ul {
		text-align: right;
	}
	ul li a {
		color: white;
		font-size: 1em;
	}
}